body {
font-family:Segoe UI;
}
body p{
color:#1C3B23;
margin:0px;
}
body a{
text-decoration:none;
color:#F51919;
margin-right:10px;
}

#logo {
margin:0px;
}
#tweet {
color:#047F1C;
margin:0px;
font-size:18px;
}
#tweet2 {
color:#0019FF;
margin:0px;
font-size:18px;
}
#qot1 {
color:#047F1C;
font-size:30px;
font-family: Tw Cen MT;
margin:0px;
}

#by {
color:#121212;
font-family: Tw Cen MT;
margin:0px;
}